<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <ul>
                <li><a href="/" ><button class="button-nav" >home</button></a></li>
                <li><a href="/api/v1/resources/books/all" ><button class="button-nav" >Notes</button></a></li>
                <li><a href="/login" ><button class="button-nav" >login</button></a></li>
            </ul>
        </div>
    </nav>
    <div class="login-container">
        <h2>Login</h2>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="home-link">
        <a href="/">Home</a>
    </div>
</body>
</html>
